body {
  font-family: "Inter", sans-serif;
}

p {
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 0em;
  margin-top: 0.3em;
  text-align: justify;
  text-indent: 1rem;
}

ul {
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 0em;
  margin-top: 0.3em;
  text-align: justify;
}

li {
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 0em;
  margin-top: 0.3em;
  text-align: justify;
}

ol {
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 0em;
  margin-top: 0.3em;
  text-align: justify;
}

.indented {
  margin-left: 2em;
}

/* Target only ordered lists inside the sidebar nav to hide the numbers */
#quarto-sidebar nav ol, 
#quarto-sidebar nav ol li {
  list-style-type: none !important;
}

/* Target only explicit chapter-number spans that live inside the sidebar container */
#quarto-sidebar span.chapter-number {
  display: none !important;
}
